#loginBody {
    padding-top: 150px;
}

.flask-pagedown-preview {
    margin-top: 10px;

}

body {
    font-family: 'Georgia',serif;
}

#header {
    height: 150px;
    background-color: #009688;
    color: #fff;
    padding-left:200px;
    padding-top:75px;

}

#header p {
    color:#fff;
    font-size:65px;
}
#allTitle{
    font-size: 25px;
    color: #4a4a4a;
}

#allTitle :hover {
    color: #009688;
}

.nav {
    background-color: #009688;
}
.nav-item {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}

.nav-center {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: italic;
}

.nav-item a, a.nav-item {
    color: #fff !important;
}
