#loginBody {
    padding-top: 150px;
}

.flask-pagedown-preview {
    margin-top: 10px;

}

body {
    font-family: 'Georgia',serif;
}

#header {
    height: 150px;
    background-color: #009688;
    color: #fff;
    padding-left:200px;
    padding-top:90px;
    border-bottom: 3px;
    border-bottom-color: #004d40;
    border-bottom-style: solid;

}

#header p {
    color:#fff;
    font-size:65px;
}
#allTitle{
    font-size: 25px;
    color: #4a4a4a;
}

#allTitle :hover {
    color: #009688;
}
