<html>
<head>
    <title>Tags</title>
    {% include 'headers.html' %}
</head>
<body>
    {% include 'navbar.html' %}
            <div id="header">
                <p class="title">Tags</p>
            </div>
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    {% for t in tags %}
                    <ul>
                        <li><a href="{{ url_for('tagSearch',tagName=t.tag_name) }}" class="button is-outlined">#{{ t.tag_name }}</a></li>
                        <br>
                    </ul>
                    {% endfor %}
                </div>
            </div>
</body>
</html>
