<html>
<head>
    <title>Blog</title>
    {% include 'headers.html' %}
    <!-- {{ pagedown.include_pagedown() }}
    {{ pagedown.html_head() }} -->
</head>
<style>

</style>
<body>
            <div id="header">
                <p class="title">All Posts</p>
            </div>
<div class="columns">
    <div class="column is-6 is-offset-3">
        {% for blog in blogs %}
        <a href="{{ url_for('post',title=blog.blog_title) }}"><p id="allTitle">{{ blog.blog_title.replace('-',' ') }}</p></a>
        <p>{{ blog.users.nickname }}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>
