<html>
<head>
    <title>Tagged Posts</title>
    {% include 'headers.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div id="header">
        <p class="title">#{{ tagName }}</p>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-3">
            {% for t in selectedPosts %}
            <ul>
                <li><a href="{{ url_for('post',title=t.blog_title) }}" id="allTitle">{{ t.blog_title }}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>


</body>
</html>
