<html>
<head>
{{ pagedown.include_pagedown() }}
{{ pagedown.html_head() }}
{% include 'headers.html' %}
<style>
.flask-pagedown-input {
}
.flask-pagedown-preview {
    border: 1px dotted black;
    background-color: #f0f0f0;
}
</style>
</head>
<body>
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div style="width: 500px;">
                <h1>Write Blog</h1><br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div>
                        <b>{{ form.title.label }}</b>:
                        {{ form.title(rows=3, style='width:100%') }}
                    </div>
                    <br>
                    <div>

                        <br>
                        <b>{{ form.content.label }}</b>:
                        {{ form.content(rows=10, style='width:100%') }}
                    </div>
                    <br>
                    <div>{{ form.submit(class_='button is-medium is-primary') }}</div>
                </form>
            </div>
        </div>
    </div>
        <p>{{ message }}</p>
</body>
</html>
