<html>
<head>
{{ pagedown.include_pagedown() }}
{{ pagedown.html_head() }}
{% include 'headers.html' %}
<style>
.flask-pagedown-input {
}
.flask-pagedown-preview {
    border: 1px dotted black;
    background-color: #f0f0f0;
}

</style>
</head>
<body>
    <div id="header">
        <p class="title">Write Blog</p>
    </div>
    <br>
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div style="width: 500px;">

                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div>
                        <b>{{ form.title.label }}</b>:
                        {{ form.title(rows=3, style='width:100%') }}
                    </div>
                    <br>
                    <div>
                        <b>{{ form.tags.label }}</b>:<p>(Add tags seperated with commas, don't prefix tags with #)</p>
                        {{ form.tags(rows=3, style='width:100%') }}
                    </div>
                    <br>
                    <div>

                        <br>
                        <b>{{ form.content.label }}</b>:
                        {{ form.content(rows=10, style='width:100%') }}
                    </div>
                    <br>
                    <div>{{ form.submit(class_='button is-medium is-primary') }}</div>
                </form>
            </div>
            {% for msg in get_flashed_messages() %}
                    <div class="notification is-warning">
                        <button class="delete"></button>
                        {{ msg }} <br>
                    </div>
                    {% endfor %}
        </div>
    </div>

</body>
</html>
